<ion-header>
    <ion-toolbar>
  <!--<ion-button color="light" (click)="Close()">Đóng</ion-button>-->
      <ion-title>ĐĂNG KÝ</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
    <form #form="ngForm" (ngSubmit)="register(form)" method="post">

      <ion-item>
        <ion-label position="floating">Họ Tên</ion-label>
        <ion-input ngModel name="name"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" ngModel name="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Mật khẩu</ion-label>
        <ion-input type="password" ngModel name="password"></ion-input>
      </ion-item>
    
      <ion-button type="submit" expand="full" color="danger">Đăng ký</ion-button>
    </form>
    <p text-center> Bạn đã có tài khoản?</p>
    <ion-button expand="full" color="primary" (click)="gotoLogin()">Đăng nhập</ion-button>
  </ion-content>
